
#content-wrap2 {
  padding-bottom: 10px;    /* Footer height */
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
}

/* for the project image square */
#box_container {
  width: 100%;
  margin: auto;
  text-align: center;

}
#box {
  width: 350px;
  display: inline-block;
  box-sizing: border-box;
  height: 250px;
  padding-bottom: 25%;
  position: relative;
  margin: 20px 20px 20px 20px;
}

#box img {
  width: 250px;
  z-index: -1;
  display: inline;
  border-radius: 15%
}

.about {
  font-family: 'Bebas Neue';
  color: white;
  text-align: center;
  font-size: 120%;
}

.content_box {
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 150px;
  left: 50%;
  text-align: center;
  color: white;
}
.content_box h2 {
  color: black;
  font-size: 120%;
  display: inline;
}

.content_box p {
  font-size: 100%;
  color: black;
  display: inline;
  position:relative;

}

#box button {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

#box:hover {
  opacity: 70%;
}

#box:hover button {
  cursor: pointer;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

#box:hover .content_box{
  transition: all 0.4s ease-in-out;
  top: 130px;
}


/* to align the table ot text under certain projects */
table.text{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

table.text a {
  color: #808080;
  text-align: center;
  padding: 14px 0px;
  display: inline;
  text-decoration: none;
}
table.text a:hover {
  color: white;
}

/* organize about me page */
hr {
  width: 70%;
  height: 0.05%;
  border: none;
  text-align:center;
  margin: auto;
  color: #808080;
  background-color: #808080;
}
.container {
    padding: 50px 40px 40px;
    max-width: 70%;
    margin: auto;
    height: auto;
    text-align: center;
}
.container p {
  display: inline;
  vertical-align: center;
}


/* image organization */
.twoImages img { /* to display two images side by side */
   width: 49%;
   max-height: 100%;
   display: inline;
   text-align: center;
}
.fourImages img { /* to display four images side by side */
   width: 19%;
   max-height: 50%;
   display: inline;
   text-align: center;
}

/* for numbered bullets  */
ol.pages li {
  font-family: 'Roboto', sans-serif;
  color: #C7C7C7;
  font-size: 94%;
  counter-increment: li
}

ol.pages {
  list-style: none;
  counter-reset: li
}

ol.pages li::before {
  content: counter(li);
  color: #C7C7C7;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

/* To align a gallery of different sized images
Idea obtained from https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
}

@media only screen and (max-width: 775px) {
  .column.video {
    flex: 80%;
    max-width: 80%;
  }
  .container img {
    float: none;
    width: 55%;
    margin: 0px 20px 20px 20px;

  }
}

@media only screen and (min-width: 775px) {
  .column.video {
    flex: 48%;
    max-width: 48%;
  }
  .container img {
    float: right;
    width: 25%;
    margin: 40px 20px 20px 20px;
  }
}

/* Create four equal columns that sits next to each other */
.column {
  padding: 0 4px;
  text-align: center;
  margin: auto;
}

.column.video {
  padding: 0 4px;
}

.column p {
  text-align: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column video {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 775px) and (min-width: 600px) {
  .column {
    flex: 40%;
    max-width: 49%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 590px) {
  .column {
    flex: 90%;
    max-width: 90%;
  }
}

@media screen and (min-width: 775px) {
  .column {
    flex: 23%;
    max-width: 23%;
  }
}


/* Most of this is from a website, but it was edited to fit my purposes
Credit: https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100; /* Full height */
  overflow: scroll;; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 2%;
  border: 1px solid #888;
  width: 60%;
}

.modal-content p{
  color: black;
  width: 90%;
  height: auto;
  margin: auto;
  text-align: center;
}

.modal-content h2 {
  color: black;
  width: 90%;
  height:auto;
  margin: auto;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

a.button {
    background-color: #808080;
    color: white;
    border: none;
    margin-right: 5%;
    padding: 10px 15px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    cursor: pointer;
}

button.myBtn {
  background-color: #808080;
  color: white;
  border: none;
  margin-right: 5%;
  padding: 10px 15px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 80%;
  cursor: pointer;
}

@media only screen and (max-width: 675px) {
  #dd_boxes img {
    width: 90%;
  }
  #dd_boxes4 img {
    width: 49%;
  }

  #dd_left {
    width: 90%;
  }
  #dd_right {
    width: 90%;
  }
}

@media only screen and (min-width: 675px) {
  #dd_boxes img {
    width: 48%;
  }
  #dd_boxes4 img {
    width: 19%;
  }
  #dd_left {
    width: 20%;
  }
  #dd_right {
    width: 60%;
  }
}

#dd_boxes, #dd_boxes4 {
  display: inline;
  box-sizing: border-box;
  position: relative;
  height:auto;
  padding: 5px 0px 5px 5px;
}

#dd_left, #dd_right  {
  display: inline-block;
  /* box-sizing: border-box; */
  position: relative;
  height:auto;
  padding: 0px 10px 0px 10px;
}

#dd_left {
  text-align: right;
}
#dd_right {
  text-align: left;
}

#dd_container {
  width: 100%;
  margin: auto;
  text-align: center;
}
/* Until the end this is NOT MY CODE
Credit: https://www.w3schools.com/css/css3_images.asp */

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1;   /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);/* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 250%;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
