@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {
  background-color: #101010;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  padding:0;
}

.wf-loading * {
  visibility: hidden;
}

/* used for drop down menu in navigation bar */
.dropbtn {
  font-family: 'Bebas Neue', Impact; /* fallback font */
  background-color: #101010;
  color: #808080;
  padding: 15px;
  font-size: 100%;
  width: 100%;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 0%;
  padding-bottom: 2%;
  font-size: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303030;
  min-width: 130px;
  top: 75%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #232323;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #232323;}

#menuToggle {
  display: none;
}

@media only screen and (max-width: 675px) {
  .nav {
    display: none;
  }

  /* NOT MY Code
  CSS-Only Hamburger Menu from: https://codepen.io/erikterwan/pen/EVzeRP */

  #menuToggle {
    display: block;
    position: relative;
    top: 35px;
    left: 35px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a
  {
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', Impact;
    transition: color 0.3s ease;
    text-align: left;
  }

  #menuToggle a:hover
  {
    color: black;
  }


  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
  }

  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 150px;
    margin: -100px 0 0 -100px;
    padding: 50px;
    padding-top: 125px;

    background: #575757;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li
  {
    padding: 10px 0;
    margin-left: 20%;
    display: block;
    font-size: 22px;
  }

  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
}

/* used for navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

li {
  display: inline;
}

li a {
  color: #808080;
  text-align: center;
  padding: 0px 16px;
  display: inline;
  text-decoration: none;
}
li a:hover:not(.active) {
  color: white;
}
.active {
  color: white;
}

/* heading formats */
h1 {
  font-family: 'Bebas Neue', Impact; /* fallback font */
  letter-spacing: 2px;
  margin-bottom: 1%;
  margin-top: 0%;
  color: white;
  font-size: 250%;
  text-align: center;
}
h2 {
  font-family: 'Bebas Neue', Impact; /* fallback font */
  letter-spacing: 2px;
  color: white;
  font-size: 140%;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #C7C7C7;
  font-size: 93%;
}

a {
  color: white;
  text-decoration: none;
}

/* Used to design the footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3%;
  text-align: right;
}

li p {
  font-family: 'Bebas Neue', Impact; /* fallback font */
  letter-spacing: 2px;
  color: white;
  font-size: 220%;
}

li.footer {
  display: inline;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

/* text syles */
.titles { /* inside images home page */
  color: white;
  font-size: 125%;
  font-family: 'Bebas Neue', Impact; /* fallback font */
}
.nav { /* navigation bar headings */
  color: white;
  font-size: 130%;
  text-align: center;
  font-family: 'Bebas Neue', Impact; /* fallback font */
}
.footer {
  font-size: 94%;
  color: #808080;
  font-family: 'Bebas Neue', Impact; /* fallback font */
  line-height: 40px;
}
.description { /* inside the images home page*/
  color: #808080;
  font-size: 100%;
  font-family: 'Bebas Neue', Impact; /* fallback font */
}

/* used for the table of image links in the home page */
table {
  margin-left:2%;
  margin-right:2%;
  border-collapse: separate;
  border-spacing: 5px;
  text-align: center;
}

.homeImages {
  position: relative;
}

.imgLink {
  position: relative;
  display: block;
  opacity: 100%;
  backface-visibility: hidden;
  width: 100%;
  display: block;
}

.linkText {
  visibility: hidden;
  position: absolute;
  text-align: center;
  top: 40%;
  margin-left: 10%;
  margin-right: 10%;
}

.homeImages:hover .imgLink{
  opacity: 20%;
}
.homeImages:hover .linkText {
  visibility: visible;
}
