@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  background-color: #101010;
  margin-left: 2%;
  margin-right: 2%;
}

header {
  position: sticky;
  top: 0;
  padding: 15px;
  text-align: center;
  background-color: #101010;
  z-index: 1;
}

/* used for drop down menu in navigation bar */
.dropbtn {
  font-family: 'Bebas Neue', cursive;
  background-color: #101010;
  color: #808080;
  padding: 16px;
  font-size: 100%;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303030;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #232323;
}

.dropdown:hover .dropdown-content {
  display: block;}

.dropdown:hover .dropbtn {
  background-color: #232323;}

/* used for navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

li {
  display: inline;
  font-size: 100%;
}

li a {
  color: #808080;
  text-align: center;
  padding: 14px 16px;
  display: inline;
  text-decoration: none;
}
li a:hover:not(.active) {
  color: white;
}
.active {
  color: white;
}

/* heading formats */
h1 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  color: white;
  font-size: 210%;
}
h2 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  color: white;
  font-size: 125%;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #C7C7C7;
  font-size: 93%;
}

a {
  color: white;
  text-decoration: none;
}

/* Used to design the footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3%;
  text-align: right;
}

li p {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  color: white;
  font-size: 220%;
}

li.footer {
  display: inline;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

/* text syles */
.titles { /* inside images home page */
  color: white;
  font-size: 125%;
  font-family: 'Bebas Neue', cursive;
}
.nav { /* navigation bar headings */
  color: white;
  font-size: 107%;
  font-family: 'Bebas Neue', cursive;
}
.footer {
  font-size: 94%;
  color: #808080;
  font-family: 'Bebas Neue', cursive;
  line-height: 40px;
}
.description { /* inside the images home page*/
  color: #808080;
  font-size: 82%;
  font-family: 'Bebas Neue', cursive;
}

/* used for the table of image links in the home page */
table {
  margin-left:2%;
  margin-right:0%;
  border-collapse: separate;
  border-spacing: 5px;
  text-align: center;
}

.homeImages {
  position: relative;
}

.imgLink {
  position: relative;
  display: block;
  opacity: 100%;
  backface-visibility: hidden;
  width: 100%;
  display: block;
}

.linkText {
  visibility: hidden;
  position: absolute;
  text-align: center;
  top: 40%;
  margin-left: 10%;
  margin-right: 10%;
}

.homeImages:hover .imgLink{
  opacity: 20%;
}
.homeImages:hover .linkText {
  visibility: visible;
}
