@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

#content-wrap2 {
  padding-bottom: 2.5rem;    /* Footer height */
  margin-left: 5%;
  margin-right: 5%;
}

/* to align the table ot text under certain projects */
table.text{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

table.text a {
  color: #808080;
  text-align: center;
  padding: 14px 0px;
  display: inline;
  text-decoration: none;
}
table.text a:hover {
  color: white;
}

/* image organization */
.twoImages img { /* to display two images side by side */
   width: 49%;
   max-height: 100%;
   display: inline;
   text-align: center;
}
.fourImages img { /* to display four images side by side */
   width: 19%;
   max-height: 50%;
   display: inline;
   text-align: center;
}

/* for numbered bullets  */
ol.pages li {
  font-family: 'Roboto', sans-serif;
  color: #C7C7C7;
  font-size: 94%;
  counter-increment: li
}

ol.pages {
  list-style: none;
  counter-reset: li
}

ol.pages li::before {
  content: counter(li);
  color: #C7C7C7;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}


/* Until the end this is NOT MY CODE
Credit: https://www.w3schools.com/css/css3_images.asp */

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1;   /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);/* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 250%;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
